@media only screen and (min-width: 993px) {
  .container {
      width: 50% !important;
  }
  .rr-pic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 52px;
    margin-bottom: 51px;
  }
  .redux-pic {
    margin: 9px;
  }
}

@media only screen and (max-width: 600px) {
  .rr-pic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 52px;
    margin-bottom: 51px;
  }
  .redux-pic {
    margin: 9px;
  }
}

.card.horizontal .card-image {
    max-width: 20%;
}
